<html>
<head>
<style>


body
{
 background-color :#5797cf;
 background-image: linear-gradient(to right, rgba(10, 10, 10, 0.7) 0 100%),url('https://modhop.com/wp-content/uploads/2016/03/2.-JAL-SKY-SUITE-III.jpg');
 background-size: cover;
 margin: 0px;
 padding: 0px;

 font-family: Times New Roman;
 font-size:20px;
 font-weight: bolder;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
.booking_header{background: transparent;}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form {
    color:white;
    width: 300px;
    padding: 20px;
    
    border-radius: 10px;
    background:transparent;
    
    
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.text
{
 color: black;
 font-size: 15px;
}


</style>
</head>

<body>
    <center><h2 style="color:chocolate;padding:20px;">Airline-X</h2></center>
<div class="container">
<form class="login-form" method="post" action="/admin_login">
<center><h2>Login</h2></center>
<div class="input-group">
<label for="username">Username:</label>
<input type="text" id="email" name="username" placeholder="Enter your eamil" required>
</div>
<div class="input-group">
<label for="password">Password:</label>
<input type="password" id="password" name="password" placeholder="Enter your password" required>
</div>
<input type="submit" placeholder="login"> <br><br>
  
</form>
</div>

</body>
</html>