<html>
    <head>
        <title>login page</title>
        <style>
         body{background-image: url('https://modhop.com/wp-content/uploads/2016/03/2.-JAL-SKY-SUITE-III.jpg');font-size: 20px;}
         .d1{width:30%;height:50%;background-color: green;justify-content: center;margin: 140px;background: transparent;}
         button{height:30px;width:200px;margin-top: 60px;margin-left: 40px;}
         h2{color:white;}
         h1{color:coral;}
        </style>
    </head>
    <body>
        <center>
            <h1>Airline-X</h1>
        <div class="d1">
            <h2>LOGIN</h2>
            <button color="blue"><a href="/admin"><b>Admin login</b></a></button><br>
            <button color="blue"><a href="/login"><b>user login</b></a></button>
        </div>
    </center>
    </body>
</html>