<html>
    <head>
        <title>login page</title>
        <style>
         body{background-image: linear-gradient(to right, rgba(10, 10, 10, 0.7) 0 100%),url('https://modhop.com/wp-content/uploads/2016/03/2.-JAL-SKY-SUITE-III.jpg');font-size: 20px;background-size: cover;}
         .d1{width:30%;height:50%;background-color: green;justify-content: center;margin: 140px;background: transparent;}
         button{height:30px;width:200px;margin-top: 60px;margin-left: 40px;}
         h2{color:white;}
         h1{color:coral;}
        </style>
    </head>
    <body>
        <center>
            <h1>Airline-X</h1>
        <div class="d1">
            <button color="blue"><a href="/addflight"><b>Add Flight</b></a></button><br>
            <button color="blue"><a href="/deleteflight"><b>Delete Flight</b></a></button>
        </div>
    </center>
    </body>
</html>