<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>welcome</title>
    <style>
        body{background-image: linear-gradient(to right, rgba(10, 10, 10, 0.7) 0 100%),url('https://modhop.com/wp-content/uploads/2016/03/2.-JAL-SKY-SUITE-III.jpg');background-size: cover;font-family:Times New Roman ;}
        h1{color:white;}
 .d1{margin-left:35%;margin-top:20%;height:200px;width:500px;background:transparent;padding-top: 70px;}
        a{color:white;}
        h3{color:white;}
        button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.text
{
 color: black;
 font-size: 15px;
}
    </style>
 </head>
 <body>
    <div class="booking_header right">
        <nav>
            <div class="d">
                <div class="yes">
                    <p class="ma">Airline-X</p>
                </div>       
        <div class="button1">
        <a href="/home">
        Home
        </a>
        </div>
        <div class="button1">
        <a href="/login">
        Log in
        </a>
        </div>
        <div class="button1">
            <a href="/cancellation">
            Cancel Flight
            </a>
            </div>
        <div class="button1">
            <a href="/register">
            Sign up
            </a>
            </div>
        <div class="button1">
        <a href="/contact">
        Contact Us
        </a>
        </div>
        <div class="button1">
        <a href="/about">
        About Us
        </a>
        </div>
        </div>
        </nav>
        </div>
        <div class="d1"><center>
    <h1><%=message%></h1>
    <h3>Your PNR number is:<b><%=pnr%></b></h2>
</center>
</div>

</body>
</html>